In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("C:/Users/HP/Downloads/Attrition.csv")

In [23]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [24]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
lb = LabelEncoder()

In [27]:
df['Attrition'] = lb.fit_transform(df['Attrition'])
df['BusinessTravel'] = lb.fit_transform(df['BusinessTravel'])
df['Department'] = lb.fit_transform(df['Department'])
df['EducationField'] = lb.fit_transform(df['EducationField'])
df['Gender'] = lb.fit_transform(df['Gender'])
df['JobRole'] = lb.fit_transform(df['JobRole'])
df['MaritalStatus'] = lb.fit_transform(df['MaritalStatus'])
df['Over18'] = lb.fit_transform(df['Over18'])
df['OverTime'] = lb.fit_transform(df['OverTime'])

In [28]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [29]:
x = df.drop(columns = ['Attrition'], axis =1)
y = df['Attrition']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train , x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [32]:
x_train

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1097,24,2,350,1,21,2,5,1,1551,3,...,2,80,3,2,3,3,1,1,0,0
727,18,0,287,1,5,2,1,1,1012,2,...,4,80,0,0,2,3,0,0,0,0
254,29,2,1247,2,20,2,2,1,349,4,...,4,80,1,10,2,3,3,2,0,2
1175,39,2,492,1,12,3,3,1,1654,4,...,3,80,0,7,3,3,5,4,1,0
1341,31,2,311,1,20,3,1,1,1881,2,...,1,80,1,10,2,3,10,8,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,35,2,750,1,28,3,1,1,1596,2,...,4,80,2,10,3,2,10,9,6,8
1294,41,2,447,1,5,3,1,1,1814,2,...,1,80,0,11,3,1,3,2,1,2
860,22,1,1256,1,3,4,1,1,1203,3,...,2,80,1,1,5,3,0,0,0,0
1459,29,2,1378,1,13,2,4,1,2053,4,...,1,80,1,10,2,3,4,3,0,3
1126,50,2,264,2,9,3,2,1,1591,3,...,3,80,1,27,2,3,1,0,0,0

In [33]:
np.round(x_train.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.0,1176.00,1176.00,...,1176.00,1176.0,1176.00,1176.00,1176.0,1176.00,1176.00,1176.00,1176.00,1176.00
mean,36.77,1.61,799.41,1.26,9.26,2.90,2.23,1.0,1028.28,2.70,...,2.69,80.0,0.81,11.12,2.8,2.75,6.93,4.21,2.11,4.03
std,9.20,0.66,405.73,0.53,8.15,1.04,1.33,0.0,607.60,1.09,...,1.08,0.0,0.86,7.81,1.3,0.69,6.09,3.61,3.12,3.53
min,18.00,0.00,102.00,0.00,1.00,1.00,0.00,1.0,1.00,1.00,...,1.00,80.0,0.00,0.00,0.0,1.00,0.00,0.00,0.00,0.00
25%,30.00,1.00,464.00,1.00,2.00,2.00,1.00,1.0,492.75,2.00,...,2.00,80.0,0.00,6.00,2.0,2.00,3.00,2.00,0.00,2.00
50%,36.00,2.00,796.50,1.00,7.00,3.00,2.00,1.0,1018.00,3.00,...,3.00,80.0,1.00,10.00,3.0,3.00,5.00,3.00,1.00,3.00
75%,43.00,2.00,1157.25,2.00,14.00,4.00,3.00,1.0,1569.75,4.00,...,4.00,80.0,1.00,15.00,3.0,3.00,10.00,7.00,2.00,7.00
max,60.00,2.00,1496.00,2.00,29.00,5.00,5.00,1.0,2068.00,4.00,...,4.00,80.0,3.00,40.00,6.0,4.00,40.00,18.00,15.00,17.00

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [36]:
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.transform(x_test)

In [37]:
x_train_scaled

array([[-1.38855944,  0.58928051, -1.10813858, ..., -0.88820751,
        -0.67610953, -1.14244794],
       [-2.04073779, -2.46355596, -1.2634814 , ..., -1.1650514 ,
        -0.67610953, -1.14244794],
       [-0.84507748,  0.58928051,  1.10364737, ..., -0.61136361,
        -0.67610953, -0.57508359],
       ...,
       [-1.60595222, -0.93713773,  1.1258392 , ..., -1.1650514 ,
        -0.67610953, -1.14244794],
       [-0.84507748,  0.58928051,  1.42666182, ..., -0.33451971,
        -0.67610953, -0.29140142],
       [ 1.43754676,  0.58928051, -1.32019386, ..., -1.1650514 ,
        -0.67610953, -1.14244794]])

In [38]:
x_train_new = pd.DataFrame(x_train_scaled, columns = x_train.columns)

In [39]:
x_train_new

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,-1.388559,0.589281,-1.108139,-0.500174,1.440396,-0.863356,2.085607,0.0,0.860666,0.279706,...,-0.639822,0.0,2.547471,-1.167368,0.157319,0.357435,-0.974263,-0.888208,-0.676110,-1.142448
1,-2.040738,-2.463556,-1.263481,-0.500174,-0.522699,-0.863356,-0.930284,0.0,-0.026811,-0.639104,...,1.211176,0.0,-0.945525,-1.423397,-0.613546,0.357435,-1.138573,-1.165051,-0.676110,-1.142448
2,-0.845077,0.589281,1.103647,1.391159,1.317703,-0.863356,-0.176312,0.0,-1.118456,1.198515,...,1.211176,0.0,0.218807,-0.143254,-0.613546,0.357435,-0.645643,-0.611364,-0.676110,-0.575084
3,0.241886,0.589281,-0.758001,-0.500174,0.336155,0.099933,0.577661,0.0,1.030258,1.198515,...,0.285677,0.0,-0.945525,-0.527297,0.157319,0.357435,-0.317023,-0.057676,-0.355244,-1.142448
4,-0.627685,0.589281,-1.204303,-0.500174,1.317703,0.099933,-0.930284,0.0,1.404019,-0.639104,...,-1.565321,0.0,0.218807,-0.143254,-0.613546,0.357435,0.504527,1.049700,-0.676110,-0.575084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,-0.192899,0.589281,-0.121835,-0.500174,2.299251,0.099933,-0.930284,0.0,0.934760,-0.639104,...,1.211176,0.0,1.383139,-0.143254,0.157319,-1.082099,0.504527,1.326544,1.249084,1.127009
1172,0.459279,0.589281,-0.868960,-0.500174,-0.522699,0.099933,-0.930284,0.0,1.293702,-0.639104,...,-1.565321,0.0,-0.945525,-0.015240,0.157319,-2.521633,-0.645643,-0.611364,-0.355244,-0.575084
1173,-1.605952,-0.937138,1.125839,-0.500174,-0.768086,1.063222,-0.930284,0.0,0.287676,0.279706,...,-0.639822,0.0,0.218807,-1.295383,1.699050,0.357435,-1.138573,-1.165051,-0.676110,-1.142448
1174,-0.845077,0.589281,1.426662,-0.500174,0.458849,-0.863356,1.331634,0.0,1.687221,1.198515,...,-1.565321,0.0,0.218807,-0.143254,-0.613546,0.357435,-0.481333,-0.334520,-0.676110,-0.291401
1175,1.437547,0.589281,-1.320194,1.391159,-0.031925,0.099933,-0.176312,0.0,0.926527,0.279706,...,0.285677,0.0,0.218807,2.032989,-0.613546,0.357435,-0.974263,-1.165051,-0.676110,-1.142448

In [40]:
np.round(x_train_new.describe(),1)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,0.0,0.0,0.0,...,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-2.0,-2.5,-1.7,-2.4,-1.0,-1.8,-1.7,0.0,-1.7,-1.6,...,-1.6,0.0,-0.9,-1.4,-2.2,-2.5,-1.1,-1.2,-0.7,-1.1
25%,-0.7,-0.9,-0.8,-0.5,-0.9,-0.9,-0.9,0.0,-0.9,-0.6,...,-0.6,0.0,-0.9,-0.7,-0.6,-1.1,-0.6,-0.6,-0.7,-0.6
50%,-0.1,0.6,-0.0,-0.5,-0.3,0.1,-0.2,0.0,-0.0,0.3,...,0.3,0.0,0.2,-0.1,0.2,0.4,-0.3,-0.3,-0.4,-0.3
75%,0.7,0.6,0.9,1.4,0.6,1.1,0.6,0.0,0.9,1.2,...,1.2,0.0,0.2,0.5,0.2,0.4,0.5,0.8,-0.0,0.8
max,2.5,0.6,1.7,1.4,2.4,2.0,2.1,0.0,1.7,1.2,...,1.2,0.0,2.5,3.7,2.5,1.8,5.4,3.8,4.1,3.7

In [ ]:
3